@value STC_Black,STC_MaastrichtBlue,STC_White from '../../common/colors.css';

.sidebar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lists {
  padding: 0 0;
  margin: 0 0;
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.list {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: STC_MaastrichtBlue;
  color: STC_White;
}
.button {
  height: 80%;
  width: 80%;
  color: STC_White;
  opacity: 30%;
  background-color: STC_MaastrichtBlue;
  font-size: 3em;
  border: none;
}
.button:hover {
  cursor: pointer;
}
button path,
button svg {
  pointer-events: none;
}
.clicked {
  opacity: 100%;
}
