.room {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 5%;
  top: 0;
  left: 0;
}
.container {
  width: 100%;
  display: inline-flex;
  flex: 1;
  min-height: 0;
}
.videoplayer {
  width: 75%;
}
.chatbox {
  width: 25%;
}

@media all and (max-width: 767px) {
  .header {
    display: none;
  }
  .videoplayer {
    display: block;
    width: 100vw;
  }
  .chatbox {
    display: block;
    width: 100vw;
  }
  .swiper {
    width: 100vw;
    height: 100vh;
    position: absolute;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
}
