@value STC_YankeesBlue from '../../common/colors.css';

.chatbox {
  text-align: center;
  min-width: 20rem;
  height: 95%;
  margin: 0.5em;
  overflow-y: auto;
  border-radius: 1em;
  background-color: STC_YankeesBlue;
}
.container {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-content: center;
}
.title {
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-bottom: 1em;
}

.messages {
  overflow-y: scroll;
  width: 100%;
  height: 75%;
  padding: 0.5em 2em;
  flex-direction: column;
  opacity: 87%;
}
.messages::-webkit-scrollbar {
  display: none;
}

@media all and (max-width: 767px) {
  .chatbox {
    height: 90vh;
  }
}
