@value STC_White,STC_DarkPeach, STC_Black,STC_Grey, STC_Peach from '../../common/colors.css';

.inputMessage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.inputForm {
  margin: 1em 0em;
  height: 7em;
  width: 80%;
}
.input {
  width: 90%;
  height: 80%;
  padding: 2em 1em 1em 1em;
  border-radius: 1.5rem;
  border-color: STC_DarkPeach;
  background-color: STC_Black;
  color: STC_White;
  resize: none;
}
.input::-webkit-scrollbar {
  display: none;
}
.input:focus {
  border-color: STC_White;
}

.button {
  margin-top: 1em;
  height: 3em;
  background-color: STC_Grey;
  color: STC_Peach;
  border: none;
}
.button:hover {
  cursor: pointer;
  color: STC_White;
}
