@value STC_White,STC_YankeesBlue,STC_Peach from '../../common/colors.css';

.header {
  display: flex;
  height: 4rem;
  padding: 0.8em 5em;
  background: black;
  color: STC_White;
}

.title {
  border-radius: 0.5rem;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  background-color: STC_Peach;
  cursor: pointer;
  transition: transform 160ms ease-in;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.input {
  flex-basis: 100%;
  font-size: 1.2rem;
  margin: 0em 2em;
  outline: 0;
  margin-right: 2em;
}

.button {
  width: 10%;
  background-color: STC_Peach;
  cursor: pointer;
  transition: transform 160ms ease-in;
  border-radius: 0.5em;
}

.button:hover {
  transform: scale(1.2);
}

.buttonimg {
  height: 100%;
  padding: 0.5em 0.2em;
}
