@value STC_White,STC_LightGrey,STC_YankeesBlue,STC_Peach from '../../common/colors.css';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 9vh;
  background: STC_LightGrey;
  color: STC_White;
}

.title {
  font-size: 1em;
  border: none;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: STC_LightGrey;
  cursor: pointer;
}

.logo {
  position: absolute;
  left: 5vw;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
}
.input {
  height: 100%;
  width: 20em;
  font-size: 1.2rem;
  outline: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 100%;
  background-color: STC_Peach;
  cursor: pointer;
  transition: transform 160ms ease-in;
}

.button:hover {
  transform: scale(1.07);
}

.buttonimg {
  width: 25px;
  padding: 0.5em 0.2em;
}

@media all and (max-width: 760px) {
  .input {
    width: 60vw;
  }
  .logo {
    display: none;
  }
}
